@charset "utf-8";

.oberDiv {
	background-image: url("images/Fenster.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
@media ( max-width : 1259px) {
	.oberDiv {
		background-image: url("images/Fenster.jpg");
	}
}

@media ( min-width :1260px) {
	.oberDiv {
		background-image: url("images/Fenster.jpg");
	}
}