@charset "UTF-8";

html {
	background-image: linear-gradient(to right, #A9D0F5, white, #EFF5FB, #A9D0F5);
}



.topDiv {
	background-image: linear-gradient(to right, white, #A9D0F5, white, #A9D0F5);
	color: black;
	font-size: 30px;
	box-shadow: 5px 10px 8px #D8D8D8;
}

.sideMenu {
	background-image: linear-gradient(white, #EFF5FB, #A9D0F5, #2E64FE);
	opacity: 0.85;
}

.sideMenu a{
	font-size: 30px;
}

.sideMenuImpressum {
	width: 40%;
	height: 100vh;
	background-image: linear-gradient(white, #EFF5FB, #A9D0F5, #2E64FE);
	opacity: 0.85;	
	padding-left: 12px;
	margin-left: 40%;
}





.topDiv h2 {
	padding-left: 15px;
}

.telefonNr {
	padding-top: 33px;
	color: black;
	font-size: 20px;
}

.mail {
	padding-top: 18px;
	color: black;
	font-size: 20px;
	padding-right: 20px;
}

a:link {
	text-decoration: none;
}